body{
    background-color: rgb(211, 9, 9);
    color: rgb(8, 41, 205);
    font-family: "Epunda Slab", serif;
    margin: 0px;
}

header{
    font-size: 50px;
    text-align: center;
    border-bottom: double  5px rgb(0, 115, 255);
   /* margin: 30px;*/
   padding: 30px;
  color: rgb(0, 0, 0);
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

section{
background-color: rgb(225, 14, 14);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}

.chamada-texto{
    margin-right: 10%;
}