body{
   background-color: crimson;
   color:black;
   font-family: "Comic Neue", cursive;
   margin: 0px;
}
   header{
      font-size: 50px;
      border: solid 5px black
   }

   .chamada-texto{
      margin-right: 10%;
   }